@font-face {
  font-family: "iconfont"; /* Project id 3921272 */
  src: url('iconfont.woff2') format('woff2'),
       url('iconfont.woff') format('woff'),
       url('iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-faagent:before {
  content: "\e602";
}

.icon-bangong:before {
  content: "\e604";
}

.icon-caipiao:before {
  content: "\e605";
}

.icon-chongwu:before {
  content: "\e609";
}

.icon-dache:before {
  content: "\e60a";
}

.icon-dangmianfu:before {
  content: "\e60d";
}

.icon-huankuan:before {
  content: "\e620";
}

.icon-huilvhuansuan:before {
  content: "\e621";
}

.icon-huiyuantequan:before {
  content: "\e624";
}

.icon-jipiao:before {
  content: "\e627";
}

.icon-jujia:before {
  content: "\e631";
}

.icon-kuaiqiang:before {
  content: "\e633";
}

.icon-licaishouyi:before {
  content: "\e636";
}

.icon-lvyoutehui:before {
  content: "\e63e";
}

.icon-meirong:before {
  content: "\e63f";
}

.icon-qiche:before {
  content: "\e641";
}

.icon-qinmifu:before {
  content: "\e642";
}

.icon-shuji:before {
  content: "\e646";
}

.icon-shuidianmei:before {
  content: "\e648";
}

.icon-weixiu:before {
  content: "\e64a";
}

.icon-xinyongqiahuankuan:before {
  content: "\e64b";
}

.icon-xuexi:before {
  content: "\e64c";
}

.icon-yiban:before {
  content: "\e64d";
}

.icon-yiliao:before {
  content: "\e64e";
}

.icon-zhufang:before {
  content: "\e652";
}

.icon-yiliaohangyedeICON-:before {
  content: "\e637";
}

.icon-canyin:before {
  content: "\e606";
}

.icon-fushi:before {
  content: "\e60b";
}

.icon-gouwu:before {
  content: "\e616";
}

.icon-gupiao:before {
  content: "\e617";
}

.icon-jizhangben:before {
  content: "\e61c";
}

.icon-jianzhi:before {
  content: "\e61d";
}

.icon-jiaotong:before {
  content: "\e61e";
}

.icon-liwu:before {
  content: "\e622";
}

.icon-licai:before {
  content: "\e623";
}

.icon-lingshi:before {
  content: "\e625";
}

.icon-lvxing:before {
  content: "\e626";
}

.icon-qitashouru:before {
  content: "\e629";
}

.icon-shejiao:before {
  content: "\e62c";
}

.icon-shoukuan:before {
  content: "\e62d";
}

.icon-shoujichongzhi:before {
  content: "\e62e";
}

.icon-shuma:before {
  content: "\e630";
}

.icon-tongxun:before {
  content: "\e632";
}

.icon-youxichongzhi:before {
  content: "\e638";
}

.icon-yule:before {
  content: "\e639";
}

.icon-yundong:before {
  content: "\e63a";
}

.icon-zhuanzhang:before {
  content: "\e63c";
}

